:root {
    --px-color-bodybg: rgb(19, 26, 41);
    --px-color-boxbg: rgb(12, 16, 29);
    --px-color-boxborder: rgb(27, 34, 55);
    --px-border-radius: 6px;

    --qt-loadingcolor-main: 211, 214, 222;
    --qt-loadingcolor-secondary: 61, 107, 245;
}

body {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/background.png");
    background-repeat: repeat;
    background-size: 100%;
    background-attachment: fixed;
}

main {
    /* width: 30rem; */
    /* height: 20rem; */
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
    border-radius: 5px;
    position: relative;
    z-index: 1;
    background: inherit;
    overflow: hidden;
}

main:before {
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    filter: blur(10px);
    margin: -20px;
}

.navbar {
    background-color: transparent !important;
}

.vl {
    border-left: 2.5px solid rgba(255, 255, 255, 0.125);
}

.px-griditem {
    font-size: 1rem;
    min-height: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.qt-loading {
    display: none;
    position: relative;
    width: 3em;
    height: 3em;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}

#qt-loading-qtload002>div {
    position: relative;
    width: 3em;
    height: 3em;
    border: 4px solid;
    border-top-color: rgb(var(--qt-loadingcolor-secondary));
    border-right-color: rgb(var(--qt-loadingcolor-main));
    border-bottom-color: rgb(var(--qt-loadingcolor-main));
    border-left-color: rgb(var(--qt-loadingcolor-main));
    border-radius: 50%;
    animation: qt-loadanim001 1s infinite linear;
}

@keyframes qt-loadanim001 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}